/.venv
/data/*
/volumes
/scraped_data
/photos

src/web/backend/node_modules
src/web/backend/package-lock.json
src/web/frontend/node_modules
src/web/frontend/package-lock.json

src/web/*


.env
input.txt
chats.db
user.db